@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

:root{
    --blueGeneral:rgb(34, 103, 193);
}

::-webkit-scrollbar {
    display: none;
}
/* ------ BARRA DE NAVEGACION ------ */

.barra-navegacion{
    display: flex;
    background-color: var(--blueGeneral);
    width: 100%;
    height: 15%;
    position: fixed;
    left: 0;
    top: 0;
}

.container-barra{
    display: flex;
    list-style: none;
    align-items: center;
    gap:140px;
    padding: 0 80px 0 120px;
    font-size: 25px;
}

.container-barra a{
    text-decoration: none;
    color: white;
}

.container-barra button{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    border: none;
    color: black;
    cursor: pointer;
}

.container-barra button:hover{
    background-color: var(--blueGeneral);
    color: white;
    border: 1px solid white;
}

.container-barra li img{
    width: 300px;
}

/* ------ PAGE HOME ------ */

.main-part{
    background-image: url(../images/Fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 7%;
    height: 100vh;
    width: 100%;
    display: flex;
}

.main-left{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:75%;
    height:90%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

.main-form h1{
    width: 80%;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-form span{
    width: 80%;
    font-size: 13px;
}

.conteiner-bajito{
    width: 90%;
    margin: 20px 0;
}

.form-container{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-container label{
    justify-self: flex-start;
    width: 100%;
    font-size: 13px;
}

.form-container input, select{
    height: 40px;
    padding: 5px;
    font-size: 13px;
    margin-bottom: 12px;
}

.seleccion-form{
    margin-bottom: 12px;
    font-size: 14px;
}

.boton-form{
    background-color: rgb(60, 145, 236);
    border: none;
    width: 170px;
    height: 45px;
    border-radius: 15px;
    align-self: center;
    color: white;
    cursor: pointer;
}

.boton-form:hover, .boton-info:hover{
    background-color: transparent;
    color: var(--blueGeneral);
    border: 1px solid var(--blueGeneral);
}


.main-right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-info{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-title{
    font-size: 40px;
 }

 .info-info{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
 }

 .info-info p{
    margin-top: 7px;
 }

 .boton-info{
    background-color: rgb(60, 145, 236);
    border: none;
    width: 170px;
    height: 45px;
    border-radius: 15px;
    align-self: center;
    color: white;
    cursor: pointer;
}

/* ---- PARTE : QUÉ ES ------- */

.que-es-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
    padding-top: 30px;
}

.que-es-title{
    grid-column: 1 /span 3;
    grid-row: 1;
    font-size: 37px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.left-que-es{
    grid-column: 1;
    grid-row: 2;
    font-size: 25px;
    text-align: center;
    font-weight: 200;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.info-1 p{
    margin-bottom: 10px;
}
.info-2 p{
    margin-bottom: 10px;
}

.right-que-es{
    grid-column: 2;
    grid-row: 2;
}

.right-que-es img{
    width: 100%;
    height: auto;
}

.que-es-link{
    font-size: 19px;
}

.que-es-link{
    text-decoration: none;
    color: black;
}


/* SECCION PAGOS Y BANCOS */

.container-pagos{
    display: grid;
    grid-template-rows: 80px 150px 50px 1fr 50px;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}

.entrega-title{
    grid-column: 1 /span 3;
    font-size: 40px;
    font-weight: 900;
}
.etapa1{
    grid-column: 1;
    text-align: center;

}
.etapa2{
    grid-column: 2;
    text-align: center;
}
.etapa3{
    grid-column: 3;
    text-align: center;
}

.etapa-title{
    font-size: 30px;
    font-weight: 900;
}
.etapa-info{
    font-size: 40px;
    font-weight: 500;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;

}
.bancos-title{
    grid-column: 1 /span 3;
    font-size: 40px;
    font-weight: 900;
    margin-top: 50px;
}

.bancos-container{
    grid-column: 1 /span 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.img-1,.img-2,.img-3{
    width: 420px;
}

.img-4{
    margin-right: 50px;
}
.img-4,.img-5{
    width: 250px;
    height: auto;
}

.preguntas-frecuentes{
    grid-column: 1 /span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

/* ---- PREGUNTAS FRECUENTES ------ */

.preguntas-frecuentes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.preguntas-title{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.circulo{
    background-color: var(--blueGeneral);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
}

.ver-mas{
    margin-top: 10px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.preguntas-sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.preguntas-sub-container h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-style: italic;
}

.preguntas-sub-container p{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.title-except{
    width: 63%;
}

.preguntas-info p{
    font-weight: 600;
    margin-top: 10px;
}

/* ----- CONTÁCTANOS----- */

.contactenos-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.contactenos{
    width: 95%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: var(--blueGeneral);
    border-radius: 50px;
    gap: 30px;
}

.contactenos h2{
    font-size: 40px;
}

.contactenos p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
}

.contactenos a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 17%;
    border-radius: 15px;
    border: none;
    background-color: white;
    text-decoration: none;
    color: black;
}

.contactenos a:hover{
    background-color: var(--blueGeneral);
    border: 1px solid white;
    color: white;
}

/* --- FOOTER PART --- */

.footer-part{
    display: flex;
    background-color: rgb(44, 111, 178);
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 142px;
}

.left-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.mid-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.fa-brands{
    font-size: 20px;
    border-radius: 50%;
    width: 20px;
}

.right-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

